.plans-text h5 {
  font-size: 25px;
  font-weight: 800 !important;
}

.plans-text p {
  font-size: 16px;
  line-height: 2.3;
}

.plans-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.plans-container::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 200px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: var(--bg-color);
  z-index: -10 !important;
  opacity: 0.5;
  animation: planCircle 1s ease-in-out infinite alternate;
}

.plan {
  border-radius: var(--round-lg);
  position: relative;
  border: 1px solid var(--border-light);
  transition: all 0.3s;
  background: #13151998;
  overflow: hidden;
}
.plan::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0px;
  border-radius: var(--round-lg);
  background: linear-gradient(
    120deg,
    var(--bg) 20%,
    var(--bg-main),
    var(--bg) 80%
  ) !important;
  z-index: -1;
  filter: blur(100px);
}

.plan-title {
  font-size: 25px;
  text-align: center;
  color: var(--text);
  font-weight: 800 !important;
}

.plan-list p {
  font-size: 16px;
  color: var(--text-light);
}

.plan-price {
  font-size: 20px;
  text-align: center;
  color: var(--text);
}

.plan:hover {
  border: 1px solid var(--border-color);
}

.plan:nth-child(1) .plan-price,
.plan:nth-child(1) .plan-title,
.plan:nth-child(1) .plan-list p {
  color: var(--bg);
}

.plan:nth-child(1) {
  border: none !important;
  background: none;
}

.plan:nth-child(1):before {
  width: 150% !important;
  height: 140% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background: var(--bg-color) !important;
  filter: blur(100px) !important;
}

.plan:nth-child(1)::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  right: -25%;
  bottom: -25%;
  background-color: var(--bg-main);
  border-radius: 200px;
  z-index: -1;
  transform: scale(1.5);
  opacity: 0.1;
}

/* Animation */
@keyframes planCircle {
  0% {
    transform: translateX(-40%) translateY(-20%);
  }
  100% {
    transform: translateX(-60%) translateY(-20%);
  }
}
