.footer-main {
  border-top: 1px solid var(--border-color);
}

.copy-right {
  border-top: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--text-color);
  font-weight: 800 !important;
}

.footer-information-text {
  font-size: 16px;
  line-height: 2.4;
}

.social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-media-container .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: #ffffff;
}

.social-media-container .github {
  background: linear-gradient(135deg, #2b3137 0%, #24292e 50%, #181717 100%);
  color: #ffffff;
}

.social-media-container .telegram {
  background: linear-gradient(135deg, #37aee2 0%, #1e96c8 50%, #0088cc 100%);
  color: #ffffff;
}

.social-media-container .linkedin {
  background: linear-gradient(135deg, #00a0dc 0%, #0077b5 60%, #005582 100%);
  color: #ffffff;
}

.social-medial-box {
  border: 1px dashed var(--border-color);
  border-radius: var(--round-lg);
  padding: 12px;
}

.social-medial-icon {
  border-radius: var(--round-lg);
  padding: 12px !important;
}

.social-medial-text small:nth-child(1) {
  font-size: 14px;
  color: var(--text);
}

.social-medial-text small:nth-child(2) {
  font-size: 13px;
  color: var(--text-light);
}

.social-media-title h6 {
  font-size: 16px;
  font-weight: 800;
}

@media (max-width: 992px) {

  .footer-description,
  .footer-social {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center !important;
  }

  .footer-description {
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 50px !important;
  }

  .social-media-title {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 578px) {
  .social-media-container {
    grid-template-columns: 1fr;
  }

  .footer-description {
    margin-bottom: 30px !important;
  }

  .social-media-title {
    margin-bottom: 20px !important;
  }

  .footer-information-text {
    font-size: 14px;
    line-height: 2.3;
    margin-top: 30px !important;
  }

  .copy-right {
    font-size: 12px !important;
  }
}
