.auth-container {
  min-height: 100vh !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  z-index: 1001;
  background-color: var(--bg) !important;
}

.auth-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0px;
  opacity: 0.1;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      var(--bg) 20%,
      var(--bg) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--bg) 20%,
        var(--bg) 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#444cf7 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #444cf7 2px, var(--bg) 2px) -1px 0;
  background-size:
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

.auth-title {
  font-size: 25px;
  font-weight: 800 !important;
}

.auth-box {
  border-radius: var(--round-lg);
  border: 1px solid var(--border-color);
  background: var(--bg);
  position: relative;
  z-index: 1002;
  min-width: 380px;
}

.auth-container input {
  color: var(--bg) !important;
  font-weight: 600 !important;
  background: var(--bg-white) !important;
  border: none !important;
  outline: none !important;
  border-radius: var(--round-sm) !important;
  padding: 10px 5px !important;
  direction: ltr !important;
  width: 100%;
}

.auth-container .btn-color,
.auth-container .btn-dark,
.auth-container .btn-light {
  padding: 13px 15px !important;
}

.auth-box .small {
  font-size: 12px !important;
}

.auth-box .small small {
  color: var(--text-color) !important;
  cursor: pointer !important;
}

@media (max-width: 578px) {
  .auth-container {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    inset: 0px !important;
  }

  .auth-box {
    width: 80% !important;
    height: max-content !important;
    padding: 35px !important;
    min-width: auto;
  }

  .auth-box > * {
    min-width: 100% !important;
  }

  .show-lg {
    display: none !important;
  }

  .auth-title {
    text-align: center !important;
    font-size: 20px;
    position: relative;
  }

  .auth-box .small,
  .auth-box small {
    font-size: 10px !important;
  }

  .auth-container input {
    font-size: 14px;
  }
}
