.profile {
  border-radius: var(--round-md);
  border: 1px solid var(--border-color);
}

.profile h6 {
  font-size: 20px !important;
  position: relative;
  padding-right: 20px;
  font-weight: 900 !important;
}

.profile h6:before {
  content: "";
  background-color: var(--bg-color);
  border-radius: 0 200px 200px 0;
  width: 5px;
  height: 120%;
  position: absolute;
  top: 42.5%;
  right: 0;
  transform: translateY(-50%);
}

.box-profile {
  display: grid;
  grid-template-columns: 20% 80%;
}

.box-profile input {
  text-align: right !important;
  font-size: 14px !important;
  background-color: transparent;
  color: var(--text);
  border: none !important;
  padding: 0px 2px !important;
}

.box-profile input::placeholder {
  color: var(--text-light) !important;
}

.box-profile label {
  font-size: 14px !important;
  color: var(--text);
}

@media (max-width: 992px) {
  .box-profile {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .box-profile label {
    font-size: 12px !important;
    color: var(--text-light);
  }
  .profile h6 {
    font-size: 16px !important;
  }
}
