.main-container {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

@media (max-width: 1450px) {
  .main-container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (max-width: 578px) {
  .main-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 70px !important;
  }
}
