.purchases-category-title h3 {
  font-size: 25px;
  font-weight: 800;
  position: relative;
  padding-right: 20px;
  font-weight: 800 !important;
}

.purchases-category-title h3::before {
  content: "";
  position: absolute;
  right: 0;
  top: 42.5%;
  transform: translateY(-50%);
  width: 6px;
  height: 130%;
  background-color: var(--bg-color);
  border-radius: 0 200px 200px 0;
}

.purchases-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}


@media (max-width: 1250px) {
  .purchases-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 992px) {
  .purchases-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 650px) {
  .purchases-container {
    grid-template-columns: 1fr !important;
  }
  .purchases-category-title h3 {
    font-size: 20px !important;
    padding-right: 25px !important;
  }

  .purchases-category-title h3::before {
    top: 37.5% !important;
    transform: translateY(-50%) !important;
    width: 6px !important;
    height: 150% !important;
  }
}
