.auth-container {
  min-height: 100vh !important;
  padding: 0px !important;
  margin: 0px !important;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  inset: 0px !important;
  z-index: 1001;
  background-color: var(--bg) !important;
}

.auth-title {
  font-size: 25px;
  font-weight: 800 !important;
}

.auth-box {
  border-radius: var(--round-lg);
  border: 1px solid var(--border-color);
  background: var(--bg);
  position: relative;
  z-index: 1002;
}

.auth-container input {
  color: var(--bg) !important;
  font-weight: 600 !important;
  background: var(--bg-white) !important;
  border: none !important;
  outline: none !important;
  border-radius: var(--round-sm) !important;
  padding: 7px 5px !important;
  direction: ltr !important;
}

@media (max-width: 992px) {
  .auth-container {
    background-color: rgba(54, 54, 54, 0.4) !important;
    text-align: center !important;
  }

  .auth-box {
    width: 100% !important;
    position: absolute;
    bottom: 0px !important;
    border-radius: var(--round-lg) var(--round-lg) 0px 0px !important;
    padding: 30px 50px !important;
  }
  .auth-box > * {
    min-width: 100% !important;
  }
  .show-lg {
    display: none !important;
  }
}
