/* Templates.Jsx */
.template-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}
@media (max-width: 1450px) {
  .template-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 1100px) {
  .template-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 768px) {
  .template-container {
    grid-template-columns: 1fr !important;
  }
}

/* TemplateItem.Jsx */
.template-box {
  background: transparent;
  border-radius: var(--round-lg);
  border: 1px solid var(--border-color) !important;
  cursor: pointer;
  padding: 12px;
}

.template-box img,
.image-placeholder-container {
  min-height: 300px !important;
  object-fit: cover;
  object-position: top right;
  border-radius: var(--round-sm);
  transition:
    all 2.7s ease-in-out,
    opacity 0.3s ease-in-out, filter 0.5s ease-in-out;
}

.template-box-title {
  color: var(--text);
  font-size: 17px;
  font-weight: 800;
  position: relative;
  padding-right: 15px;
}

.template-box-title::before {
  content: "";
  width: 4px;
  height: 150%;
  position: absolute;
  right: 0px;
  top: -6px;
  bottom: 0px;
  background-color: var(--bg-color);
  border-radius: 0 200px 200px 0;
}

.template-box-category span:nth-child(1) {
  color: var(--text-light);
  font-size: 14px;
}

.template-box-category span:nth-child(2) {
  margin-right: 5px;
  color: var(--text-color);
  font-size: 14px;
}

.template-box-price span:nth-child(1) {
  color: var(--text);
  font-weight: 800;
  font-size: 20px;
}

.template-box:hover img {
  object-position: bottom left;
}

.template-box-spiner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Template Category */
.template-category-title h3 {
  font-size: 25px;
  font-weight: 800;
  position: relative;
  padding-right: 20px;
  font-family: var(--font-rokh) !important;
  font-weight: 800 !important;
}

.template-category-title h3::before {
  content: "";
  position: absolute;
  right: 0;
  top: 42.5%;
  transform: translateY(-50%);
  width: 6px;
  height: 130%;
  background-color: var(--bg-color);
  border-radius: 0 200px 200px 0;
}

@media (max-width: 578px) {
  .template-category-title h3 {
    font-size: 20px;
    padding-right: 25px;
  }

  .template-category-title h3::before {
    top: 37.5%;
    transform: translateY(-50%);
    width: 6px;
    height: 150%;
  }

  .template-box-title {
    font-size: 16px !important;
    padding-right: 18px;
  }

  .template-box-title::before {
    height: 140%;
    top: -6px;
  }

  .template-box-category span:nth-child(1) {
    color: var(--text-light);
    font-size: 14px;
  }

  .template-box-category span:nth-child(2) {
    margin-right: 5px;
    color: var(--text-color);
    font-size: 14px;
  }

  .template-box-price span:nth-child(1) {
    color: var(--text);
    font-weight: 800;
    font-size: 20px;
  }
}
