/* ---------------------------- Btn */
/* base */
.btn-main,
.btn-main > * {
  cursor: pointer !important;
  font-size: 13px !important;
  border-radius: var(--round-sm) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  vertical-align: middle !important;
  transition: all 0.3s !important;
  font-weight: 900 !important;
  position: relative;
  overflow: hidden;
}
.btn-main > * {
  margin: 0px !important;
  padding: 0px !important;
}

/* btn -1 */
.btn-color {
  background: var(--bg-btn-color);
  padding: 13px 20px;
  color: var(--text-btn-color);
}

.btn-color:hover {
  transform: scale(1.03);
}

/* btn -2 */
.btn-light {
  background: var(--bg-btn-light);
  padding: 13px 15px;
  color: var(--text-btn-light);
}

.btn-light:hover {
  background: var(--bg-btn-color);
  color: var(--text-btn-color);
}

/* btn -3 */

.btn-dark {
  background: var(--bg);
  padding: 13px 15px;
  color: var(--text);
}

.btn-dark:hover {
  transform: scale(1.03);
}

/* btn -4 */

.btn-red {
  background: var(--bg-red);
  padding: 13px 15px;
  color: var(--text-white);
}

.btn-red:hover {
  transform: scale(1.03);
}

/* Btn Sm */
.btn-color-sm {
  padding: 13px;
  max-width: 42px !important;
  max-height: 42px !important;
}

@media (max-width: 578px) {
  .btn-main,
  .btn-main > * {
    font-size: 13px !important;
  }

  /* btn -1 */
  .btn-color,
  .btn-light {
    padding: 11px 12px;
    font-size: 12px !important;
  }
  .btn-color-sm {
    padding: 12px !important;
    max-width: auto !important;
    max-height: auto !important;
  }
  .btn-color-sm svg {
    width: 14px !important;
    height: 14px !important;
  }
}

/* for text */

.one-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.two-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.four-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.three-line {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
