:root {
  /* -------------------------------------  Btn */
  /* btn -1 */
  --bg-btn-color: #6366f1;
  --text-btn-color: #ffffff;

  /* btn -2 */
  --bg-btn-light: #1e293b;
  --text-btn-light: #94a3b8;

  /* -------------------------------------  Main */
  /* background */
  --bg-black: #020617;
  --bg-white: #ffffff;
  --bg: #0f172a;
  --bg-main: #1e293b;
  --bg-light: #334155;
  --bg-color: #6366f1;
  --bg-green: #10b981;
  --bg-red: #ef4444;
  --bg-orange: #f59e0b;

  /* text */
  /* text color, background color, font size, font selection, and font height */
  --text-black: #020617;
  --text-white: #ffffff;
  --text: #f8fafc;
  --text-light: #94a3b8;
  --text-color: #6366f1;
  --text-green: #10b981;
  --text-red: #ef4444;
  --text-orange: #f59e0b;

  /* -------------------------------------  Radius */
  --round-sm: 6px;
  --round-md: 10px;
  --round-lg: 16px;

  /* -------------------------------------  Border Color */
  --border-color: #6366f130;
  --border-light: #33415571;

  /* -------------------------------------  Font Size */
  /* lg */
  --font-text-lg: 14px;
  --font-text-2-lg: 17px;
  --font-title-lg: 19px;
  --font-title-2-lg: 30px;
  --font-btn-lg: 13px;
  /* sm */
  --font-text-sm: 14px;
  --font-text-2-sm: 17px;
  --font-title-sm: 19px;
  --font-title-2-sm: 30px;
  --font-btn-sm: 13px;
}
