:root {
  /* -------------------------------------  Btn */
  /* btn -1 */
  --bg-btn-color: #0865ff;
  --text-btn-color: #fff;
  /* btn -2 */
  --bg-btn-light: #cfcfcf;
  --text-btn-light: #131519;
  /* -------------------------------------  Main */
  /* background */
  --bg-black: #000;
  --bg-white: #fff;
  --bg: #131519;
  --bg-main: #212938;
  --bg-light: #cfcfcf;
  --bg-color: #0865ff;
  --bg-green: #00c300;
  --bg-red: #fd5c63;
  --bg-orange: orange;
  /* text */
  --text-black: #000;
  --text-white: #fff;
  --text: #f3f6f8;
  --text-light: #9ea7b9;
  --text-color: #0865ff;
  --text-green: #00c300;
  --text-red: #fd5c63;
  --text-orange: orange;
  /* -------------------------------------  Radius */
  --round-sm: 7px;
  --round-md: 9px;
  --round-lg: 13px;
  /* -------------------------------------  Border Color */
  --border-color: #0867ff34;
  --border-light: #9ea7b918;
  /* -------------------------------------  Font Size */
  /* lg */
  --font-text-lg: 14px;
  --font-text-2-lg: 17px;
  --font-title-lg: 19px;
  --font-title-2-lg: 30px;
  --font-btn-lg: 13px;
  /* sm */
  --font-text-sm: 14px;
  --font-text-2-sm: 17px;
  --font-title-sm: 19px;
  --font-title-2-sm: 30px;
  --font-btn-sm: 13px;
}





/* Purple Palette Color */

  /* --bg-btn-color: #8B5CF6; */
  /* --text-btn-color: #FFFFFF; */

  /* btn -2 */
  /* --bg-btn-light: #232136; */
  /* --text-btn-light: #F8FAFC; */

  /* -------------------------------------  Main */
  /* background */
  /* --bg-black: #000000; */
  /* --bg-white: #FFFFFF; */
  /* --bg: #0F172A; */
  /* --bg-main: #1E293B; */
  /* --bg-light: #334155; */
  /* --bg-color: #8B5CF6; */
  /* --bg-green: #22C55E; */
  /* --bg-red: #EF4444; */
  /* --bg-orange: #F59E0B; */

  /* text */
  /* --text-black: #000000; */
  /* --text-white: #FFFFFF; */
  /* --text: #F8FAFC; */
  /* --text-light: #94A3B8; */
  /* --text-color: #8B5CF6; */
  /* --text-green: #22C55E; */
  /* --text-red: #EF4444; */
  /* --text-orange: #F59E0B; */

  /* -------------------------------------  Radius */
  /* --round-sm: 7px; */
  /* --round-md: 9px; */
  /* --round-lg: 13px; */

  /* -------------------------------------  Border Color */
  /* --border-color: #8B5CF633; */
  /* --border-light: #FFFFFF14; */

  /* -------------------------------------  Font Size */
